# This flag is required for CUDA repo that @org_tensorflow depends on.
common --experimental_repo_remote_exec

build:manylinux_2_17_x86_64 --host_crosstool_top="@local_config_cuda//crosstool:toolchain"
build:manylinux_2_17_x86_64 --crosstool_top="@local_config_cuda//crosstool:toolchain"
build:manylinux_2_17_x86_64 --extra_toolchains="@local_config_cuda//crosstool:toolchain-linux-x86_64"
build:manylinux_2_17_x86_64 --repo_env=CC="/usr/lib/llvm-18/bin/clang"
build:manylinux_2_17_x86_64 --repo_env=TF_SYSROOT="/dt9"
build:manylinux_2_17_x86_64 --extra_execution_platforms="@sigbuild-r2.17-clang_config_platform//:platform"
build:manylinux_2_17_x86_64 --host_platform="@sigbuild-r2.17-clang_config_platform//:platform"
build:manylinux_2_17_x86_64 --platforms="@sigbuild-r2.17-clang_config_platform//:platform"
