# This flag is required for CUDA repo that @org_tensorflow depends on.
common --experimental_repo_remote_exec

common --incompatible_enable_cc_toolchain_resolution
common --repo_env USE_HERMETIC_CC_TOOLCHAIN=1

build:manylinux_2_24_x86_64 --extra_execution_platforms="@sigbuild-r2.17-clang_config_platform//:platform"
build:manylinux_2_24_x86_64 --host_platform="@sigbuild-r2.17-clang_config_platform//:platform"
build:manylinux_2_24_x86_64 --platforms="@sigbuild-r2.17-clang_config_platform//:platform"
